body
{
    width: auto;
    background-color: #aaa;
}
#Lewa
{
  width: 14%;
  float: left;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  background-color: #666666;
  padding-bottom: 10px;
  margin-right: 5px;
}
#Środek
{
    float: left;
    width: 70%;
}
#Prawa
{
    float: left;
    width: 14%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

